@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap');


/*============================ 
Start Global Rules 
=============================
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :root {
    --main-color: #438229;
    --main-color-alt: #91b17f;
    --dark: #1b1b22;
    --dark-3: #050505;
    --dark-light: #32323a;	
     --space: 1rem;
       --page-width: 80ch;
       --font-family:'Almarai', sans-serif;
       --color-link: black;
       --color-active: royalblue;
       --ease: cubic-bezier(0.23, 1, 0.32, 1);
       --duration: 350ms;
       --section-offset: 0;
    --white: #eaf0f2;
    --white-light: #c8c8c8;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #eaf0f2;
    --box-shadow: 0.5rem 0.5rem 0 rgba(5, 179, 19, 0.2);
    --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
    --border: 0.2rem solid var(--main-color);
  }
  
  ::-webkit-scrollbar{
      width:3px;
  }
  ::-webkit-scrollbar-track{
      background-color: var(--white-light);
      border-radius: 25px;
  
  }
  
  ::-webkit-scrollbar-thumb{
      background-color: var(--main-color);  border-radius: 25px;
  
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    background-color: #eaf0f2;
  
    padding: 0;
  }
  body.dark {
    background-color: #2f4858;
    --dark: #fcfafb;
    --dark-3: #636363;
    --dark-light: #c8c8c8;
    --white: #1b1b22;
    --section-background: #2f4858;
    --white-light: #32323a;
  }
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .d-flex {
    display: flex;
  }
  .section {
    padding: 4.5rem 0 2.5rem;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  /*============================ 
  end Global Rules 
  =============================
  */
  
  /* =========================
  General components
  */
  
  .main-title {
    text-transform: uppercase;
    margin: 40px auto 40px;
    color: var(--dark);
    border: 2px solid var(--dark);
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
  }
  .main-title::before,
  .main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-title::before {
    left: -30px;
  }
  .main-title::after {
    right: -30px;
  }
  .main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
  }
  .main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
  }
  .main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
  }
  .bubble {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    z-index: 99;
    background: var(--main-color);
    opacity: 0.15;
  }
  
  .bubble-two {
    top: 120px;
    left: 190px;
    width: 50px;
    height: 50px;
  }
  
  /*
  toggle theme mode
  */
  .toggle-mode {
    position: fixed;
    top: 50%;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: var(--dark-light);
    z-index: 1999;
    border-radius: 50%;
    cursor: pointer;
    color: var(--white);
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .toggle-mode i {
    line-height: 1.5;
    font-size: 20px;
  }
  /* General components
  ========================= */
  
  /* Start Header */
  .header {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: fit-content;
    transition: all 300ms ease-in-out;
    position: relative;
    -webkit-box-shadow: 0 0 10px var(--white-light);
    -moz-box-shadow: 0 0 10px var(--white-light);
    box-shadow: 0 0 10px var(--white-light);
  }
  
  
  @media (max-width: 767px) {
    
  .header .main-nav {
    display: flex;
  }
  .header .main-nav {
      margin: auto;
      flex-direction: column;
    }
  }
  
  
  .main-nav {
    background: var(--section-background);
    z-index: 1;
  }
  
  .main-nav .navbar-brand {
    padding: 0;
  }
  
  .main-nav .navbar-nav .nav-item {
    position: relative;
    font-family: "Open Sans", sans-serif;
  }
  
  .main-nav .navbar-nav .nav-item .nav-link {
    position: relative;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--dark);
    padding-left: 20px;
    padding-right: 20px;
    line-height: 45px;
  }
  
  @media (max-width: 992px) {
    .main-nav .navbar-nav .nav-item .nav-link {
      line-height: 25px;
    }
  }
  
  .main-nav .navbar-nav .nav-item .nav-link span i {
    font-size: 11px;
  }
  
  .main-nav .navbar-nav .nav-item.active .nav-link {
    color: var(--main-color);
  }
  
  .main-nav .navbar-nav .nav-item.active .nav-link:before {
    content: "";
    background: var(--main-color);
    width: 60%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 20%;
  }
  
  @media (max-width: 992px) {
    .main-nav .navbar-nav .nav-item.active .nav-link:before {
      display: none;
    }
  }
  
  .main-nav .dropdown {
    position: relative;
  }
  
  .main-nav .dropdown .open > a,
  .main-nav .dropdown .open > a:focus,
  .main-nav .dropdown .open > a:hover {
    background: transparent;
  }
  
  .main-nav .dropdown.full-width .dropdown-menu {
    left: 0 !important;
    right: 0 !important;
  }
  
  @media (max-width: 992px) {
    .main-nav .dropdown {
      -webkit-transform: none;
      transform: none;
      left: auto;
      position: relative;
      text-align: center;
    }
  }
  
  .main-nav .dropdown .dropdown-menu {
    border-radius: 0;
    padding: 0;
    border: 0;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
    display: none;
    margin-top: 0;
  }
  
  .main-nav .dropdown .dropdown-menu.show {
    display: block;
  }
  
  @media (max-width: 992px) {
    .main-nav .dropdown .dropdown-menu {
      text-align: center;
      float: left !important;
      width: 100%;
      margin: 0;
    }
  }
  
  .main-nav .dropdown .dropdown-menu .dropdown-item {
    font-size: 13px;
    padding: 3px 22px;
    transition: 0.3s ease;
  }
  
  .main-nav .dropdown .dropdown-menu .dropdown-item.active,
  .main-nav .dropdown .dropdown-menu .dropdown-item.focus,
  .main-nav .dropdown .dropdown-menu .dropdown-item:focus,
  .main-nav .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: var(--main-color);
  }
  
  .main-nav .dropdown .dropdown-menu li:first-child {
    margin-top: 10px;
  }
  
  .main-nav .dropdown .dropdown-menu li:last-child {
    margin-bottom: 10px;
  }
  
  @media (min-width: 992px) {
    .main-nav .dropdown .dropdown-menu {
      position: absolute;
      display: block;
      visibility: hidden;
      opacity: 0;
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      transition: visibility 0.2s, opacity 0.2s,
        -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
      transition: visibility 0.2s, opacity 0.2s,
        transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
      transition: visibility 0.2s, opacity 0.2s,
        transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99),
        -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    }
    .main-nav .dropdown:hover > .dropdown-menu {
      opacity: 1;
      visibility: visible;
      color: #777;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  
  .dropdown-submenu.active > a,
  .dropdown-submenu:hover > a {
    color: var(--dark);
  }
  
  .dropleft .dropdown-menu,
  .dropright .dropdown-menu {
    margin: 0;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  .dropleft .dropdown-toggle::before,
  .dropright .dropdown-toggle::after {
    font-weight: bold;
    font-family: "themify";
    border: 0;
    font-size: 8px;
    vertical-align: 1px;
  }
  
  .dropleft .dropdown-toggle::before {
    content: "\e64a";
    margin-right: 5px;
  }
  
  .dropright .dropdown-toggle::after {
    content: "\e649";
    margin-left: 5px;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:hover {
    outline: none;
  }
  .profile-image{
    max-height: 50px;
    border-radius: 50%;
  }
  
  /* End Header */
  
  .neu-background {
    background: var(--white);
    box-shadow: -3px -3px 7px var(--white-light), 3px 3px 5px var(--white-light);
  }
code {
    display: block;
    padding: 0 20px;
    margin-bottom: 15px;
    text-align: left;
    white-space: pre;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #524f52;
    color: #82cdb9;
}
main {
    position: relative;
}
#side-navbar  {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 15%;
    color:var(--main-color);
    background-color: var(--white-light);
    border-right: 1px solid #e0e0e0;
}
#side-navbar  header {
    text-align: center;
    padding: 10% 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--main-color);
}
#side-navbar  .menu__content {
    padding: 0;
    overflow: auto;
    height: 100%;
}
#side-navbar  .menu__content li {
    padding: 4% 0;
    color:var(--main-color);
    border-top: 1px solid #e0e0e0;
}
#side-navbar  .menu__content li.active {
    background-color: var(--main-color);
}
#side-navbar  .menu__content li.active a {
    color: #fff;
}
#side-navbar  .menu__content li:last-child {
    border-bottom: 1px solid #e0e0e0;
}
#side-navbar  .menu__content li:first-child {
    border-top: 1px solid #e0e0e0;
}
#side-navbar  .menu__content li:hover {
    background-color: var(--main-color);
}
#side-navbar  .menu__content li:hover a {
    color: #fff;
}
.test {
    background-color: var(--main-color);
}
.content {
    padding: 0 5% 0 20%;
}
.content a {
    color:var(--main-color);
    font-weight: 500;
}
.content .main-section header {
    margin: 7% 0 2% 0;
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    color: var(--main-color);
}
.content .main-section li:before {
    content: '';
    display: block;
    height: 5px;
    width: 5px;
    background-color: #000;
    position: relative;
    top: 15px;
    right: 20px;
}
.footer {
    display: inline-block;
    width: 100%;
}
.footer .copyright {
    padding: 5% 0 2% 15%;
    text-align: center;
    color: #333;
    font-size: 10px;
}
.footer .copyright a:hover {
    text-decoration: underline;
    color: #333;
}
.footer .copyright i {
    color: #ef5350;
}
@media (max-width: 1024px) {
    #side-navbar  {
        width: 100%;
        height: 40px;
        background-color: #00bcd4;
   }
    #side-navbar  header {
        padding: 0 5%;
        text-align: left;
        display: inline-block;
        line-height: 2.5;
        color: #fff;
   }
    #side-navbar  .menu__trigger {
        position: absolute;
        right: 10px;
        top: 5px;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
   }
    #side-navbar  .menu__trigger i {
        font-size: 30px;
        color: #fff;
   }
    #side-navbar  .menu__content {
        background-color: #f6f6f6;
        width: 270px;
        position: absolute;
        right: -270px;
        top: 40px;
        height: 100vh;
        overflow-y: scroll;
   }
    #side-navbar  .menu__content li {
        padding: 3% 0;
   }
    #side-navbar  .menu__content li:first-child {
        border-top: none;
   }
    #side-navbar  .menu__content li:last-child {
        border-bottom: none;
   }
    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000;
        left: 0;
        opacity: 0;
        z-index: 10;
   }
    .content {
        padding: 0 5%;
   }
    .content .main-section:first-child {
        padding-top: 5%;
   }
    .content .main-section header {
        margin: 5% 0 3% 0;
   }
    .footer .copyright {
        padding: 2% 0;
   }
}
@media (min-width: 1025px) {
    #side-navbar  .menu__trigger {
        display: none;
   }
}
@media (max-width: 480px) {
    code {
        padding: 0;
        font-size: 10px;
   }
    .content .main-section:first-child {
        padding-top: 15%;
   }
    .content .main-section header {
        margin: 10% 0;
        font-size: 24px;
   }
}


.properties {

	margin: 0 15px;

}

 .properties.properties2 {

	margin-bottom: 30px;

}

 .properties__card {

	box-shadow: 0px 6px 6px 0px rgba(2, 25, 65, 0.08);

	border-radius: 10px;

	-webkit-transition: .4s;

	-moz-transition: .4s;

	-o-transition: .4s;

	transition: .4s

}

 .properties__card:hover {

	box-shadow: 0px 8px 8px 0px rgba(2, 25, 65, 0.08)

}
.properties__img img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  position: relative;
}



 .properties__caption {

	padding: 29px 20px 20px 20px;

}
.title{
    color:var(--dark-light);
    font-weight: 700;
    font-size:1.2rem;
}
 .properties__caption h3 {

	font-size: 20px;

	font-weight: 500;

	margin-bottom: 6px

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	 .properties__caption h3 {

		font-size: 16px

	}

}

 .properties__caption h3 a {

	text-decoration: underline transparent

}

 .properties__caption h3 a:hover {

	text-decoration: underline;

	color: #4255A4

}

 .properties__caption P {

	color: #6E7697

}

 .properties__caption P span {

	color: #C86FFF;

	font-size: 16px

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	 .properties__caption P span {

		font-size: 12px

	}

}

 .properties__footer {

	margin-bottom: 22px;

	-webkit-transition: .4s;

	-moz-transition: .4s;

	-o-transition: .4s;

	transition: .4s

}

@media (max-width: 575px) {

	 .properties__footer {

		padding: 19px 10px 20px 12px

	}

}

 .properties__footer .restaurant-name p {

	display: inline-block;

	color: #6E7697

}

 .properties__footer .restaurant-name p span {

	color: #FF7B2E;

	font-size: 12px

}

 .properties__footer .price span {

	cursor: pointer;

	font-weight: 700;

	color: #4255A4;

	font-size: 23px

}

 .properties:hover .border-btn2 {

	color: #fff;

	background: #FF9F67;

	-webkit-transition: .4s;

	-moz-transition: .4s;

	-o-transition: .4s;

	transition: .4s

}
.course-2 .box {
  padding: 1rem;
border-radius: 20px;
background: linear-gradient(145deg, var(--white-light), var(--white));
box-shadow:   11px 11px 22px vaR(--white-light),
             -11px -11px 22px var(--white);  
             width:460px;
}

.course-2 .box .image {
  margin-bottom: 1rem;
  text-align: center;
}

.course-2 .box .image img {
  height: 10rem;
}

span.tag {
  font-size: 1rem;
  font-weight:700;
  border-radius: 10px;
  color: var(--main-color);
  background: var(--white);
  padding: .5rem 1rem;
}

.course-2 .box .content h3 {
  color:var(--dark);
  line-height: 2;
  margin-top: 1.5rem;
  font-size: 2rem;
}


.course-2 .box .content .icons a {
  font-size: 1.1rem;
  color: var(--dark);
}

.course-2 .box .content .icons a:hover {
  color: var(--main-color-alt);
}

.course-2 .box .content .icons a i {
  padding-right: .5rem;
  color: var(--main-color-alt);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    color: var(--dark-light);
    font-size: 14px;
    background: var(--section-background);
    box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
  }
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: var(--section-background);
  }
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-contact h3 {
    font-size: 26px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 300;
  }
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
  }
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: var(--main-color);
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: var(--main-color);
    font-size: 12px;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: var(--main-color);
  }
  #footer .footer-newsletter {
    font-size: 15px;
  }
  #footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 5px;
    text-align: left;
    border: 1px solid #cde5f6;
  }
  #footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  #footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -2px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: var(--main-color);
    color: #fff;
    transition: 0.3s;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  #footer .footer-newsletter form input[type="submit"]:hover {
    background: var(--main-color);
  }
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #444444;
  }
  .social-links {
    margin-left: auto;
  }
  .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(233, 233, 227, 0.576);
    color: var(--main-color);
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 5px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  .social-links a:hover {
    background: var(--main-color);
    color: #fff;
    text-decoration: none;
  }
  
  /*Animation*/
  @keyframes up-and-down {
    0%,
    100% {
      top: 0;
    }
    50% {
      top: -50px;
    }
  }
  @keyframes left-move {
    50% {
      left: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      left: 0;
      border-radius: 0;
      width: 50%;
      height: 100%;
    }
  }
  @keyframes right-move {
    50% {
      right: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      right: 0;
      border-radius: 0;
      width: 50%;
      height: 100%;
    }
  }
  @keyframes animate_1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate_2 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes slideInUp {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes slideInDown {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes slideInleft {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes zoomReverseIn {
    0% {
      opacity: 0;
      transform: scale(1.5);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes flipInY {
    0% {
      opacity: 0;
      transform: rotateY(90deg);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  [data-animation] {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: both;
    animation-duration: 2.5s;
  }
  .animations-disabled,
  .animations-disabled [data-animation] {
    animation: none !important;
    opacity: 1 !important;
  }
  .slideInUp {
    animation-name: slideInUp;
  }
  .slideInDown {
    animation-name: slideInDown;
  }
  .slideInLeft {
    animation-name: slideInleft;
  }
  .slideInRight {
    animation-name: slideInRight;
  }
  .fadeIn {
    animation-name: fadeIn;
  }
  .fadeOut {
    animation-name: fadeIn;
    animation-direction: reverse;
  }
  .zoomIn {
    animation-name: zoomIn;
  }
  .zoomOut {
    animation-name: zoomIn;
    animation-direction: reverse;
  }
  .zoomReverseIn {
    animation-name: zoomReverseIn;
  }
  .zoomReverseOut {
    animation-name: zoomReverseIn;
    animation-direction: reverse;
  }
  .flipInY {
    animation-name: flipInY;
  }
  .flipOutY {
    animation-name: flipInY;
    animation-direction: reverse;
  }
  